<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ken.wms.dao.ActionPermissionMapper">
	
	<resultMap type="com.ken.wms.domain.ActionPermission" id="permission">
		<id property="id" column="ACTION_ID"/>
		<result property="actionName" column="ACTION_NAME"/>
		<result property="actionDesc" column="ACTION_DESC"/>
		<result property="actionParam" column="ACTION_PARAM"/>
	</resultMap>
	
	<select id="selectById" resultMap="permission">
		select
			ACTION_ID,
			ACTION_NAME,
			ACTION_DESC,
			ACTION_PARAM
		from
			wms_action
		where
			ACTION_ID = #{id}
	</select>
	
	<select id="selectByRole" resultMap="permission">
		select
			a.ACTION_ID,
			a.ACTION_NAME,
			a.ACTION_DESC,
			a.ACTION_PARAM
		from
			wms_action a,wms_role_action ra,wms_roles r
		where
			r.ROLE_NAME = #{roleName} and
			r.ROLE_ID = ra.ROLE_ID and
			ra.ACTION_ID = a.ACTION_ID
	</select>

</mapper>